<!DOCTYPE html>
<html>
    <head>
        <title>Vue Hello World</title>
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>
        <div id="store-demo">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Increase stock</th>
                    <th>Decrease stock</th>
                    <th>Warning</th>
                </thead>
                <tbody>
                    <tr v-for="product in products">
                        <td>{{product.name}}</td>
                        <td>${{product.price | currency}}</td>
                        <td><input type="number" min="0" v-model.number="product.quantity"></td>
                        <td><button v-on:click="product.quantity += 1">Add</button></td>
                        <td><button v-on:click="product.quantity -= 1" v-show="product.quantity > 0">Remove</button></td>
                        <td v-if="product.quantity <= 0"><span style="color: red;">OUT OF STOCK</span></td>
                    </tr>
                </tbody>
            </table>
            <span>Total: {{ stock }}</span>
        </div>
        <script src="https://vuejs.org/js/vue.min.js"></script>
        <script src="hello_vue.js"></script>
    </body>
</html>
