<!DOCTYPE html>
<html>

<head>
    <title>Vue Hello World</title>
</head>

<body>
    <div id="hello">
        <span v-bind:title="title">
            {{ message }}
        </span>
    </div>


    <div id="store-demo">
        <table>
            <thead>
                <th>Title</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Origin</th>
                <th>Add</th>
                <th>Remove</th>
                <th>Warning</th>
            </thead>
            <tbody>
                <tr v-for="p in products">
                    <td>{{ p.title }}</td>
                    <td>{{ p.price }}</td>
                    <td>{{ p.origin }}</td>
                    <td><input type="number" min="0" v-model.number="p.quantity" disabled></td>
                    <td><button v-on:click="p.quantity >= 0 ? p.quantity +=1 : p.quantity = 0">Add</button></td>
                    <td><button v-on:click="p.quantity > 0 ? p.quantity -=1 : p.quantity = 0">Remove</button></td>
                    <td>
                        <span v-if="p.quantity<=0" style="color: red">OUT OF STOCK!!!</span>
                        <span v-else-if="p.quantity<5" style="color: orange">Low stock</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <span>Total value: ${{ stock_value }}</span>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="hello_vue.js"></script>
</body>

</html>
