<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menagerie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>
    <section>
        <div class="container">
            <h1 class="title">Welcome to the Jungle!</h1>
            {% if zoo is defined %}
            <table id="zoo" class="table is-striped is-fullwidth">
                <thead>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Species</th>
                    <th>Location</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for animal in zoo %}
                    <tr>
                        <td>{{ animal.name }}</td>
                        <td>{{ animal.age }}</td>
                        <td>{{ animal.species }}</td>
                        <td>{{ animal.location.name }}</td>
                        <td>
                            <form action="/delete/{{ animal.id }}" method="post">
                                <input type="submit" class="button is-danger" value="Delete" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="container">
            {% block form %}
            <a href="/add">Add a new animal</a>
            {% endblock form %}
        </div>
    </section>
</body>

</html>