{% extends "base.html" %}
{% block content %}
<table id="industry" class="table is-striped is-fullwidth">
    <thead>
        <th>Name</th>
        <th>Revenue ($B)</th>
        <th>Employees</th>
        <th>Country</th>
        <th>Headquarters</th>
        {% if current_user.is_authenticated %}
        <th>Action</th>
        {% endif %}
    </thead>
    <tbody>
        {% for company in data %}
        <tr>
            {% if current_user.is_authenticated %}
            <td>{{ company.name }}</td>
            {% else %}
            <td>{{ '*' * company.name|length }}</td>
            {% endif %}
            <td>{{ "${:,.3f}".format(company.revenue) }}</td>
            <td>{{ "{:,}".format(company.employees) }}</td>
            <td>{{ company.country }}</td>
            {% if current_user.is_authenticated %}
            <td>{{ company.headquarters }}</td>
            <td>
                {% if company.id not in selected %}
                <form method="post" action='{{ url_for("main.likeit", company_id=company.id) }}'>
                    <div class="field">
                        <p class="control">
                            <button class="button is-primary">
                                <span class=" icon">
                                    <i class="fas fa-thumbs-up"></i>
                                </span>
                                <span>Like it</span>
                            </button>
                        </p>
                    </div>
                </form>
                {% else %}
                <form method="post" action='{{ url_for("main.dislikeit", company_id=company.id) }}'>
                    <div class="field">
                        <p class="control">
                            <button class="button is-danger">
                                <span class="icon">
                                    <i class="fas fa-thumbs-down"></i>
                                </span>
                                <span>Dislike it</span>
                            </button>
                        </p>
                    </div>
                </form>
                {% endif %}
            </td>
            {% else %}
            <td>{{ '*' * company.headquarters|length }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}