{% extends "base.html" %}
{% block content %}
<form method="post" action='{{ url_for("auth.signup") }}'>
    {{ form.csrf_token }}
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            {{ form.email(class="input", placeholder="Email") }}
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            {{ form.name(class="input", placeholder="Name") }}
            <span class="icon is-small is-left">
                <i class="fas fa-person"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            {{ form.password(class="input", placeholder="Password") }}
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <input type="submit" class="button is-primary" value="Create account" />
        </p>
    </div>
</form>
{% if form.email.errors %}
<ul class="errors">
    {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
</ul>
{% endif %}
{% endblock content %}