<html>
    <head>
        <link rel="stylesheet" href="static/css/bootstrap.css" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col"><a href="/country">Country info</a></div>
                <div class="col"><a href="/region">Region info</a></div>
                <div class="col"><a href="/continent">Continent info</a></div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <script src="static/js/jquery.js" crossorigin="anonymous"></script>
        <script src="static/js/popper.js" crossorigin="anonymous"></script>
        <script src="static/js/bootstrap.js" crossorigin="anonymous"></script>
    </body>
</html>