<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fruiTTime: timely fruit reviews</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='fruits.ico') }}">
    <link href="{{ url_for('static', filename='site.css') }}" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header class="hero is-primary">
        <div class="container hero-body">
            <h1 class="title">fruiTTime</h1>
            <p class="subtitle">timely fruit reviews</p>
        </div>
    </header>
    <nav class="navbar container" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <div class="navbar-item">
                <a href='{{ url_for("main.index") }}'>Home</a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                {% if current_user.is_authenticated %}
                <a href='{{ url_for("auth.logout") }}' role="button" class="button is-warning">Log out</a>
                {% else %}
                <a href='{{ url_for("auth.signup") }}' role="button" class="button is-info">Sign up</a>
                <a href='{{ url_for("auth.login") }}' role="button" class="button is-info">Log in</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container is-fullwidth p-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="has-background-{{ category }}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <main>
        <div class="container">
            {% block form %}
            {% if current_user.is_authenticated and review_form is defined %}
            <form action="{{ url_for('main.save_review') }}" method="post">
                {{ review_form.csrf_token }}
                <div class="field">
                    <label>{{ review_form.name.label(class="label") }}</label>
                    <div class="control">{{ review_form.name(class="input", placeholder="Please enter the fruit name",
                        id="fruitName") }}</div>
                </div>
                <div class="field">
                    <label>{{ review_form.rating.label(class="label") }}</label>
                    <div class="radios">
                        {% for r_value, r_text in review_form.rating.choices %}
                        <label class="radio">
                            <input type="radio" name="rating" value="{{ r_value }}">
                            {{ r_text }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <label>{{ review_form.opinion.label(class="label") }}</label>
                    <div class="control">{{ review_form.opinion(class="textarea") }}</div>
                </div>

                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link is-fullwidth" name="save">Submit</button>
                    </div>
                </div>
            </form>
            {% endif %}
            {% endblock form %}
        </div>
        <div class="container pt-3" id="allReviews">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
</body>

</html>