<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from the Vue World</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div id="app" v-bind:title="title">
        {{ message }}
    </div>
    <div id="demo">
        <h1>Welcome to {{ store }}!</h1>
        <table class="table table-striped">
            <thead>
                <th>Title</th>                
                <th>Price</th>                
                <th>Quantity</th>                
                <th>Add</th>                
                <th>Remove</th>                
                <th>Comment</th>                
            </thead>
            <tbody>
                <tr v-for="p in products">
                    <td>{{ p.title }}</td>
                    <td>${{ p.price }}</td>
                    <td><input type="number" min=0 max=100 v-model.number="p.quantity"></td>
                    <td><input type="button" value="Add" v-on:click="p.quantity >= 0 ? p.quantity += 1 : p.quantity = 0"></td>
                    <td><input type="button" value="Remove" v-on:click="p.quantity > 0 ? p.quantity -= 1 : p.quantity = 0"></td>
                    <td>
                        <span v-if="p.quantity <= 0" style="color:red;">OUT OF STOCK!!!</span>
                        <span v-else-if="p.quantity <= 5" style="color:orange;">Low stock</span> 
                    </td>
                </tr>
            </tbody>
        </table>
        <span>Total merch value: ${{ totalValue }}</span>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>